<div class="flex-container">
  <div id="heatmap-text">
    <h3 class="title">Hero or Zero?</h3>
    <p class="subtitle">How many players in each point range per draft year</p>
  </div>
  <div id="heatmap-options">
    <table>
      <td>
        <mat-form-field  class="field-selector">
          <mat-label>First Year</mat-label>
          <mat-select
            [(ngModel)]="periodStart"
            (ngModelChange)="updateHeatmap()"
          >
            @for (year of startDraftYears; track year) {
            <mat-option [value]="year">{{ year }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="field-selector">
          <mat-label>Last Year</mat-label>
          <mat-select
            [(ngModel)]="periodEnd"
            (ngModelChange)="updateHeatmap()"
          >
            @for (year of endDraftYears; track year) {
            <mat-option [value]="year">{{ year }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field  class="field-selector">
          <mat-label>First Draft Rank</mat-label>
          <mat-select
            [(ngModel)]="rankStart"
            (ngModelChange)="updateHeatmap()"
          >
            @for (rank of startRanks; track rank) {
            <mat-option [value]="rank">{{ rank }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="field-selector">
          <mat-label>Last Draft Rank</mat-label>
          <mat-select
            [(ngModel)]="rankEnd"
            (ngModelChange)="updateHeatmap()"
          >
            @for (rank of endRanks; track rank) {
            <mat-option [value]="rank">{{ rank }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="large-field-selector">
          <mat-label>Minimum Amount of Games</mat-label>
          <mat-select
            [(ngModel)]="gameThreshold"
            (ngModelChange)="updateHeatmap()"
          >
            @for (threshold of allGameAmounts; track threshold) {
            <mat-option [value]="threshold">{{ threshold }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="large-field-selector">
          <mat-label>Point Range Amount</mat-label>
          <mat-select
            [(ngModel)]="pointClassesAmount"
            (ngModelChange)="updateHeatmap()"
          >
            @for (amount of allPointClassesAmounts; track amount) {
            <mat-option [value]="amount">{{ amount }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </table>
  </div>
</div>
<div id="heatmap-container"></div>
