.flex-container {
  display: flex;
}

.field-selector {
  width: 130px;
}

.large-field-selector {
  width: 180px;
}

td {
  padding-right: 8px;
}

.title {
  text-align: center;
  font-family: 'Orbitron', 'Poppins', 'Montserrat', sans-serif;
  font-size: 20px;
  color: #1f2937; /* cool dark slate color */
}

.subtitle {
   text-align: center;
   font-family: 'Orbitron', 'Poppins', 'Montserrat', sans-serif;
   font-size: 14px;
   color: #1f2937; /* cool dark slate color */
 }
