<div class="flex-container">
  <div id="heatmap-text">
    <h3 class="title">Hero or Zero?</h3>
    <p class="subtitle">How many players in each point range per draft year</p>
  </div>
  <div id="heatmap-options">
    <mat-form-field>
      <mat-label>First Year</mat-label>
      <input matInput
        type="number"
        [(ngModel)]="periodStart"
        (keyup.enter)="updateHeatmap()"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Year</mat-label>
      <input matInput
             type="number"
             [(ngModel)]="periodEnd"
             (keyup.enter)="updateHeatmap()"
      >
    </mat-form-field>
  </div>
</div>
<div id="heatmap-container"></div>
