.viz-container {
    /*50 px title padding, 40px h1 height, */
    height: calc(100% - 50px - 40px - 100px);
}

#bubble-chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    padding: 25px;
    margin: 0;
}
