<div class="sidebar">
  <h2>Menu</h2>
  <ul>
    <li
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/">Home</a>
    </li>
    <li routerLinkActive="active-link">
      <a routerLink="/beeswarm"> Draft Picks Performance</a>
    </li>
    <li routerLinkActive="active-link">
      <a routerLink="/bubble">Bubble Chart</a>
    </li>
    <li routerLinkActive="active-link">
      <a routerLink="/bar-chart">Decade Overview</a>
    </li>
  </ul>
</div>
