.sidebar {
  background-color: #333;
  color: white;
  height: calc(100vh - 2rem);
  padding: 1rem;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1rem;
}


.sidebar a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.sidebar a:hover {
  text-decoration: underline;
}

li.active-link {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}
